<a href="https://colab.research.google.com/github/harshitam22/SpamClassifier/blob/main/SpamMailPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependecies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data collection and Pre-processing

In [ ]:
#loading the data set from csv file to pandas Dataframe
raw_mail_data = pd.read_csv('/content/mail_data.csv')

In [ ]:
print(raw_mail_data)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will Ã¼ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [ ]:
#replace the null values with a null string
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [ ]:
#printing the first seven rows of the data
mail_data.head(7)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...

In [ ]:
#checking the number of rows and coloumns is dataframe (rows,coloumn)
mail_data.shape

(5572, 2)

Label Encoding

In [ ]:
#labelling spam mails as 0 and ham(not spam) mails as 1
mail_data.loc[mail_data['Category'] == 'spam' , 'Category',] = 0
mail_data.loc[mail_data['Category'] == 'ham' , 'Category',] = 1

In [ ]:
#printing the first seven rows of the data
mail_data.head(7)

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...
5        0  FreeMsg Hey there darling it's been 3 week's n...
6        1  Even my brother is not like to speak with me. ...

In [ ]:
#seprating the data as Text[X] and Labels(spam or ham)[Y]
X = mail_data['Message']
Y = mail_data['Category']

In [ ]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [ ]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

Splitting the data into training data and test data by using by using the dependency 'train_test_split'  imported from sklearn

In [ ]:
X_train, X_test, Y_train, Y_test =  train_test_split(X, Y, train_size=0.82, random_state=2)

In [ ]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4569,)
(1003,)

Feature Extraction (Converting data into meaningful numerical form) using TfidfVectorizer

In [ ]:
#transforming the text data to feature vectors that can be used as input to the Logistic Regression
feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase='True')

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

#convering Y_train and Y_test values to integers

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [ ]:
print(X_train_features)

  (0, 6822)	0.47709533394292436
  (0, 2138)	0.398484845097269
  (0, 1309)	0.5580692171144204
  (0, 5483)	0.5496804703343507
  (1, 6383)	0.49197353931998644
  (1, 4864)	0.5159243543891948
  (1, 2966)	0.5159243543891948
  (1, 7324)	0.47498016559131245
  (2, 3923)	0.36535298789892595
  (2, 5594)	0.5020918205550287
  (2, 6209)	0.30294384364327304
  (2, 4462)	0.47542945738962683
  (2, 6715)	0.3120282615681222
  (2, 4700)	0.4463756496412911
  (3, 7226)	0.28613739441862907
  (3, 1166)	0.22441415827088879
  (3, 3666)	0.30483392559191647
  (3, 4723)	0.3196741972633653
  (3, 3004)	0.3196741972633653
  (3, 7426)	0.3196741972633653
  (3, 3643)	0.3196741972633653
  (3, 1296)	0.21597685096112315
  (3, 2750)	0.40227315857934864
  (3, 4224)	0.23539817044049918
  (3, 1837)	0.3196741972633653
  :	:
  (4566, 2274)	0.25274407887791467
  (4566, 673)	0.2864817795666648
  (4566, 1592)	0.20965264177480292
  (4566, 1106)	0.2486926817657407
  (4566, 5139)	0.22299065894998144
  (4566, 4688)	0.38367378307721944
  (4566, 7346)	0.1852015611490573
  (4566, 7395)	0.17311448616389244
  (4566, 5888)	0.14906054475322816
  (4566, 314)	0.194896428813856
  (4566, 2919)	0.28941135201836515
  (4567, 7172)	0.6255120536610327
  (4567, 3753)	0.5468326759656293
  (4567, 4675)	0.4681532982702259
  (4567, 3128)	0.3009006223651514
  (4568, 3821)	0.30181787383095904
  (4568, 5080)	0.6036357476619181
  (4568, 7129)	0.2878065482961039
  (4568, 383)	0.24984270355261295
  (4568, 7475)	0.20494444599973197
  (4568, 5897)	0.1879263396004862
  (4568, 916)	0.26385402908746813
  (4568, 7130)	0.4318979813403929
  (4568, 2543)	0.20494444599973197
  (4568, 6668)	0.15427343731404947

 Training the Logistic Regression Model

In [ ]:
model = LogisticRegression()

In [ ]:
# training the Logistic Regression model with the training data
model.fit(X_train_features, Y_train)

LogisticRegression()

Evaluating the trained model

In [ ]:
#prediction on training data

prediction_on_training_data = model.predict(X_train_features)
accurany_on_training_data = accuracy_score(Y_train, prediction_on_training_data)

In [ ]:
print('Accuracy on training data:', accurany_on_training_data )

Accuracy on training data: 0.9693587218209674

In [ ]:
#prediction on testing data

prediction_on_testing_data = model.predict(X_test_features)
accurany_on_testing_data = accuracy_score(Y_test, prediction_on_testing_data)

In [ ]:
print('Accuracy on testing data:', accurany_on_testing_data )

Accuracy on testing data: 0.9541375872382851

Building a Predictive system

In [ ]:
input_mail = ["As per your request 'Melle Melle (Oru Minnaminunginte Nurungu Vettam)' has been set as your callertune for all Callers. Press *9 to copy your friends Callertune"]

#converting text to feature vectors 
input_data_features = feature_extraction.transform(input_mail)

#making Prediction
prediction = model.predict(input_data_features)
# print(prediction)

if (prediction[0]) == 1:
  print('Ham mail')

else:
  print('Spam mail')

Ham mail